template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: CMSC 471 Final - 4-tier image-to-text application with Textract

Parameters:
  DBPassword:
    Type: String
    NoEcho: true
    MinLength: 8
    Default: "Cmsc471Lab!"
    Description: RDS master password (change before production use)

Globals:
  Function:
    Runtime: python3.11
    Timeout: 30
    MemorySize: 512
    Tracing: Active
    Role: !Sub 'arn:aws:iam::${AWS::AccountId}:role/LabRole'
    Environment:
      Variables:
        INBOX_BUCKET: !Ref InboxBucket
        STATIC_SITE_BUCKET: !Ref StaticSiteBucket
        JOB_STATE_TABLE: !Ref JobStateTable
        STATE_MACHINE_ARN: !Ref TextractWorkflowStateMachine
        RDS_ENDPOINT: !GetAtt ResultsDatabase.Endpoint.Address
        RDS_DATABASE: cmsc471results
        RDS_USERNAME: admin

# ============================================================================
# PERSISTENCE TIER
# ============================================================================
Resources:

# ============================================================================
# NETWORK FOUNDATION - VPC (Stories S1, S2, S3)
# ============================================================================

  AppVpc:
    Type: AWS::EC2::VPC
    Properties:
      CidrBlock: 10.0.0.0/16
      EnableDnsHostnames: true
      EnableDnsSupport: true
      Tags:
        - Key: Name
          Value: cmsc471-final-vpc

  InternetGateway:
    Type: AWS::EC2::InternetGateway
    Properties:
      Tags:
        - Key: Name
          Value: cmsc471-igw

  VpcGatewayAttachment:
    Type: AWS::EC2::VPCGatewayAttachment
    Properties:
      VpcId: !Ref AppVpc
      InternetGatewayId: !Ref InternetGateway

  PublicSubnet1:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref AppVpc
      CidrBlock: 10.0.1.0/24
      AvailabilityZone: !Select [0, !GetAZs '']
      MapPublicIpOnLaunch: true
      Tags:
        - Key: Name
          Value: cmsc471-public-1

  PublicSubnet2:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref AppVpc
      CidrBlock: 10.0.2.0/24
      AvailabilityZone: !Select [1, !GetAZs '']
      MapPublicIpOnLaunch: true
      Tags:
        - Key: Name
          Value: cmsc471-public-2

  PrivateSubnet1:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref AppVpc
      CidrBlock: 10.0.3.0/24
      AvailabilityZone: !Select [0, !GetAZs '']
      Tags:
        - Key: Name
          Value: cmsc471-private-1

  PrivateSubnet2:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref AppVpc
      CidrBlock: 10.0.4.0/24
      AvailabilityZone: !Select [1, !GetAZs '']
      Tags:
        - Key: Name
          Value: cmsc471-private-2

  NatGatewayEip:
    Type: AWS::EC2::EIP
    DependsOn: VpcGatewayAttachment
    Properties:
      Domain: vpc

  NatGateway:
    Type: AWS::EC2::NatGateway
    Properties:
      AllocationId: !GetAtt NatGatewayEip.AllocationId
      SubnetId: !Ref PublicSubnet1
      Tags:
        - Key: Name
          Value: cmsc471-nat

  PublicRouteTable:
    Type: AWS::EC2::RouteTable
    Properties:
      VpcId: !Ref AppVpc

  PublicRoute:
    Type: AWS::EC2::Route
    DependsOn: VpcGatewayAttachment
    Properties:
      RouteTableId: !Ref PublicRouteTable
      DestinationCidrBlock: 0.0.0.0/0
      GatewayId: !Ref InternetGateway

  PublicSubnet1RouteTableAssoc:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      SubnetId: !Ref PublicSubnet1
      RouteTableId: !Ref PublicRouteTable

  PublicSubnet2RouteTableAssoc:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      SubnetId: !Ref PublicSubnet2
      RouteTableId: !Ref PublicRouteTable

  PrivateRouteTable:
    Type: AWS::EC2::RouteTable
    Properties:
      VpcId: !Ref AppVpc

  PrivateRoute:
    Type: AWS::EC2::Route
    Properties:
      RouteTableId: !Ref PrivateRouteTable
      DestinationCidrBlock: 0.0.0.0/0
      NatGatewayId: !Ref NatGateway

  PrivateSubnet1RouteTableAssoc:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      SubnetId: !Ref PrivateSubnet1
      RouteTableId: !Ref PrivateRouteTable

  PrivateSubnet2RouteTableAssoc:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      SubnetId: !Ref PrivateSubnet2
      RouteTableId: !Ref PrivateRouteTable
  # S3 Buckets
  InboxBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub 'cmsc471-inbox-${AWS::AccountId}'
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      LifecycleConfiguration:
        Rules:
          - Id: TransitionToGlacier
            Status: Enabled
            Transitions:
              - TransitionInDays: 30
                StorageClass: GLACIER
  
  StaticSiteBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub 'cmsc471-static-${AWS::AccountId}'
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true

  # DynamoDB Table for Job State
  JobStateTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: cmsc471-job-state
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: jobId
          AttributeType: S
      KeySchema:
        - AttributeName: jobId
          KeyType: HASH
      StreamSpecification:
        StreamViewType: NEW_AND_OLD_IMAGES

  # Lambda Security Group (for VPC-placed Lambdas)
  LambdaSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Security group for Lambda functions accessing RDS
      VpcId: !Ref AppVpc

  # RDS Security Group — allows MySQL from Lambda SG only
  RdsSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Security group for RDS MySQL instance
      VpcId: !Ref AppVpc
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 3306
          ToPort: 3306
          SourceSecurityGroupId: !Ref LambdaSecurityGroup

  # RDS Subnet Group spanning two private AZs
  RdsSubnetGroup:
    Type: AWS::RDS::DBSubnetGroup
    Properties:
      DBSubnetGroupDescription: Private subnet group for RDS
      SubnetIds:
        - !Ref PrivateSubnet1
        - !Ref PrivateSubnet2

  # Results Database — Aurora Serverless v2 fallback: db.t3.micro (Story S10)
  ResultsDatabase:
    Type: AWS::RDS::DBInstance
    DeletionPolicy: Delete
    Properties:
      DBName: cmsc471results
      Engine: mysql
      EngineVersion: '8.0'
      DBInstanceClass: db.t3.micro
      AllocatedStorage: '20'
      MasterUsername: admin
      MasterUserPassword: !Ref DBPassword
      DBSubnetGroupName: !Ref RdsSubnetGroup
      VPCSecurityGroups:
        - !Ref RdsSecurityGroup
      MultiAZ: false
      PubliclyAccessible: false
      StorageType: gp2
      Tags:
        - Key: Name
          Value: cmsc471-results-db

  # CloudWatch Log Groups
  IndexHandlerLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/lambda/cmsc471-index-handler'
      RetentionInDays: 14

  InboxHandlerLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/lambda/cmsc471-inbox-handler'
      RetentionInDays: 14

  SubmitHandlerLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/lambda/cmsc471-submit-handler'
      RetentionInDays: 14

  PollHandlerLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/lambda/cmsc471-poll-handler'
      RetentionInDays: 14

  RecordsHandlerLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/lambda/cmsc471-records-handler'
      RetentionInDays: 14

  FetchImageLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/lambda/cmsc471-fetch-image'
      RetentionInDays: 14

  CallTextractLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/lambda/cmsc471-call-textract'
      RetentionInDays: 14

  SaveResultsLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/lambda/cmsc471-save-results'
      RetentionInDays: 14

# ============================================================================
# ORCHESTRATION TIER - Step Functions + Lambda
# ============================================================================

  # Fetch Image Step
  FetchImageFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: cmsc471-fetch-image
      CodeUri: src/fetch_image/
      Handler: app.lambda_handler
      Policies:
        - S3ReadPolicy:
            BucketName: !Ref InboxBucket
        - DynamoDBCrudPolicy:
            TableName: !Ref JobStateTable

  # Call Textract Step
  CallTextractFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: cmsc471-call-textract
      CodeUri: src/call_textract/
      Handler: app.lambda_handler
      Policies:
        - S3ReadPolicy:
            BucketName: !Ref InboxBucket
        - DynamoDBCrudPolicy:
            TableName: !Ref JobStateTable
        - Statement:
            - Effect: Allow
              Action:
                - textract:DetectDocumentText
              Resource: '*'

  # Save Results Step
  SaveResultsFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: cmsc471-save-results
      CodeUri: src/save_results/
      Handler: app.lambda_handler
      VpcConfig:
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
        SubnetIds:
          - !Ref PrivateSubnet1
          - !Ref PrivateSubnet2
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref JobStateTable

  # Step Functions State Machine
  TextractWorkflowStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: cmsc471-textract-workflow
      Type: STANDARD
      Logging:
        Level: ALL
        IncludeExecutionData: true
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupName: !Sub '/aws/stepfunctions/cmsc471-workflow'
      Policies:
        - Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Action:
                - lambda:InvokeFunction
              Resource:
                - !GetAtt FetchImageFunction.Arn
                - !GetAtt CallTextractFunction.Arn
                - !GetAtt SaveResultsFunction.Arn
            - Effect: Allow
              Action:
                - dynamodb:UpdateItem
              Resource: !GetAtt JobStateTable.Arn
      Definition:
        Comment: Image-to-Text processing workflow
        StartAt: FetchImage
        States:
          FetchImage:
            Type: Task
            Resource: !GetAtt FetchImageFunction.Arn
            Next: CallTextract
            Retry:
              - ErrorEquals: ['States.TaskFailed']
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2.0
            Catch:
              - ErrorEquals: ['States.ALL']
                Next: HandleError
          CallTextract:
            Type: Task
            Resource: !GetAtt CallTextractFunction.Arn
            Next: SaveResults
            Retry:
              - ErrorEquals: ['States.TaskFailed']
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2.0
            Catch:
              - ErrorEquals: ['States.ALL']
                Next: HandleError
          SaveResults:
            Type: Task
            Resource: !GetAtt SaveResultsFunction.Arn
            End: true
            Catch:
              - ErrorEquals: ['States.ALL']
                Next: HandleError
          HandleError:
            Type: Task
            Resource: arn:aws:states:::dynamodb:updateItem
            Parameters:
              TableName: !Ref JobStateTable
              Key:
                jobId:
                  S.$: $.jobId
              AttributeUpdates:
                status:
                  Value:
                    S: FAILED
                  Action: PUT
                error:
                  Value:
                    S.$: $.errorMessage
                  Action: PUT
            End: true

  TextractWorkflowLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/stepfunctions/cmsc471-workflow'
      RetentionInDays: 14

# ============================================================================
# COMPUTE TIER - API + Lambda Handlers
# ============================================================================

  IndexHandler:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: cmsc471-index-handler
      CodeUri: src/index_handler/
      Handler: app.lambda_handler
      Policies:
        - S3ReadPolicy:
            BucketName: !Ref StaticSiteBucket
      Events:
        GetIndex:
          Type: Api
          Properties:
            RestApiId: !Ref ApiGateway
            Path: /
            Method: GET

  InboxHandler:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: cmsc471-inbox-handler
      CodeUri: src/inbox_handler/
      Handler: app.lambda_handler
      Policies:
        - S3CrudPolicy:
            BucketName: !Ref InboxBucket
      Events:
        PostInbox:
          Type: Api
          Properties:
            RestApiId: !Ref ApiGateway
            Path: /api/inbox
            Method: POST
        GetInbox:
          Type: Api
          Properties:
            RestApiId: !Ref ApiGateway
            Path: /api/inbox
            Method: GET
        DeleteInbox:
          Type: Api
          Properties:
            RestApiId: !Ref ApiGateway
            Path: /api/inbox/{key}
            Method: DELETE

  SubmitHandler:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: cmsc471-submit-handler
      CodeUri: src/submit_handler/
      Handler: app.lambda_handler
      Policies:
        - StepFunctionsExecutionPolicy:
            StateMachineArn: !Ref TextractWorkflowStateMachine
      Events:
        PostJobs:
          Type: Api
          Properties:
            RestApiId: !Ref ApiGateway
            Path: /api/jobs
            Method: POST

  PollHandler:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: cmsc471-poll-handler
      CodeUri: src/poll_handler/
      Handler: app.lambda_handler
      Policies:
        - DynamoDBReadPolicy:
            TableName: !Ref JobStateTable
      Events:
        GetJob:
          Type: Api
          Properties:
            RestApiId: !Ref ApiGateway
            Path: /api/jobs/{id}
            Method: GET

  RecordsHandler:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: cmsc471-records-handler
      CodeUri: src/records_handler/
      Handler: app.lambda_handler
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref JobStateTable
      Events:
        GetRecords:
          Type: Api
          Properties:
            RestApiId: !Ref ApiGateway
            Path: /api/records
            Method: GET
        DeleteRecord:
          Type: Api
          Properties:
            RestApiId: !Ref ApiGateway
            Path: /api/records/{id}
            Method: DELETE

  # API Gateway
  ApiGateway:
    Type: AWS::Serverless::Api
    Properties:
      StageName: Prod
      Name: cmsc471-api
      TracingEnabled: true
      MethodSettings:
        - ResourcePath: '/*'
          HttpMethod: '*'
          LoggingLevel: INFO
          DataTraceEnabled: false

# ============================================================================
# PRESENTATION TIER
# ============================================================================

  ApiGatewayLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/apigateway/cmsc471-api'
      RetentionInDays: 14

Outputs:
  ApiEndpoint:
    Description: API Gateway endpoint URL
    Value: !Sub 'https://${ApiGateway}.execute-api.${AWS::Region}.amazonaws.com/Prod'
  
  InboxBucketName:
    Description: S3 bucket for image inbox
    Value: !Ref InboxBucket
  
  StaticSiteBucketName:
    Description: S3 bucket for static site
    Value: !Ref StaticSiteBucket
  
  JobStateTableName:
    Description: DynamoDB table for job state
    Value: !Ref JobStateTable
  
  StateMachineArn:
    Description: Step Functions state machine ARN
    Value: !Ref TextractWorkflowStateMachine

  VpcId:
    Description: VPC ID
    Value: !Ref AppVpc

  ResultsDatabaseEndpoint:
    Description: RDS MySQL endpoint for results storage
    Value: !GetAtt ResultsDatabase.Endpoint.Address